GOOGLE_CLOUD_PROJECT=projects/1234
GOOGLE_APPLICATION_CREDENTIALS=credentials/gen-lang-client-1234-1234.json
GEMINI_API_KEY=abcd

LLM_MODEL=gemini-3.1-flash-lite
LLM_MAX_TOKENS=1024
LLM_INPUT_COST_PER_TOKEN=0.00000025
LLM_OUTPUT_COST_PER_TOKEN=0.0000015
LLM_TEMPERATURE=0.25

TTS_VOICE=en-US-Wavenet-C
TTS_PRICING_PER_TOKEN=0.000004

#Smallest pulse model
STT_PRICING_PER_TOKEN=0.000084

JWT_SECRET=change-me
JWT_ALGORITHM=HS256

LOG_LEVEL=INFO

OTLP_ENDPOINT=http://localhost:4317
OTLP_INSECURE=true
SERVICE_NAME=voice-chatbot

POSTGRES_POOLER_URL=postgresql://root:secret@localhost:5432/app

REDIS_URL=redis://:secret@localhost:6379/0

ENVIRONMENT=prod