GOOGLE_CLOUD_PROJECT=projects/1234
GOOGLE_APPLICATION_CREDENTIALS=credentials/gen-lang-client-1234-1234.json
GEMINI_API_KEY=abcd
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
LOG_LEVEL=INFO
LLM_MODEL=gemini-2.5-flash
LLM_MAX_TOKENS=1024
OTLP_ENDPOINT=
OTLP_INSECURE=true

POSTGRES_POOLER_URL=
REDIS_URL=

# prod/local
ENVIRONMENT=prod